.cartitems {
    margin: 100px;
}

.cartitems hr {
    height: 3px;
    background: #e2e2e2;
    border: 0;
}

.cartitems .cartitems-format-main {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 27px;
    padding: 20px 0px;
    color: #454545;
    font-size: 18px;
    font-weight: 600;   
}

.cartitems .cartitems-format {
    font-size: 17px;
    font-weight: 500;
}

.cartitems .carticon-product-icon {
    height: 62px;
}

.cartitems .cartitems-remove-icon {
    width: 15px;
    margin: 0px 40px;
    cursor: pointer;
}

.cartitems .cartitems-quantity {
    width: 64px;
    height: 50px;
    border: 2px solid #ebebeb;
    background-color: #fff;
}

.cartitems .cartitems-down {
    display: flex;
    margin: 100px 0px;
}

.cartitems .cartitems-total {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.cartitems .cartitems-total-item {
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
}

.cartitems .cartitems-total button {
    width: 260px;
    height: 60px;
    outline: none;
    border: none;
    background: #ff5a5a;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.cartitems .cartitems-promocode {
    flex: 1;
    font-size: 16px;
    font-weight: 500;
    margin-left: 100px;
}

.cartitems .cartitems-promocode p {
    color: #555;
}

.cartitems .cartitems-promobox {
    width: 500px;
    margin-top: 15px;
    padding-left: 20px;
    height: 60px;
    background: #eaeaea;
    display: flex;
}

.cartitems .cartitems-promobox input {
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    width: 330px;
    height: 50px;
}

.cartitems .cartitems-promobox button {
    width: 170px;
    height: 60px;
    font-size: 16px;
    background: black;
    color: white;
    cursor: pointer;
}