.item {
    width: 20vw;
}

.item p {
    margin: 6px 0px;
}

.item img {
    width: 100%;
}

.item .item-prices {
    display: flex;
    gap: 20px;
}

.item .item-price-new {
    color: #374151;
    font-size: 18px;
    font-weight: 600;   
}

.item .item-price-old {
    color: #8c8c8c;
    font-size: 18px;
    font-weight: 500;
    text-decoration: line-through;
}

.item:hover {
    transform: scale(1.05);
    transition: 0.6s;
}