.descriptionbox {
    margin: 120px 100px;
}

.descriptionbox .descriptionbox-navigator {
     display: flex;
}

.descriptionbox .descriptionbox-nav-box {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    width: 170px;
    height: 70px;
    border: 1px solid #d0d0d0;
}

.descriptionbox .descriptionbox-nav-box.fade {
    background: #fbfbfb;
    color: #555;
}

.descriptionbox .descriptionbox-description {
    display: flex;
    flex-direction: column;
    gap: 25px;
    border: 1px solid #d0d0d0;
    padding: 48px;
    padding-bottom: 70px;
}